<!DOCTYPE html>

<html>
    <head>
        <title>Sams Website</title>
    </head>
    <body>
        <h1>This is a big heading</h1>
        <p>Potatos</p>
        <h3>Here are some facts about potatos</h3>

        <u1>
            <li>They are yellow</li>
            <li>Delicious</li>
            <li>Can be cooked</li>
            
        </u1>
    <img src ="https://www.alimentarium.org/sites/default/files/media/image/2017-02/AL027-01_pomme_de_terre_0_0.jpg" alt="Big Potato" />

    <p>This is a big potato</p>

    <a href="hassleback_potatos.html">Goto a page about hassleback potatos</a>
    <h2>Why we should eat potatos</h2>
    <p>Potatos are so delicious we all love potatos. </p>
    <p>Potatos are full of energy</p>
    <p>We all love potatos they are so delicious</p>
    </body>

</html>